/Image_Segmentation/Scanner02.JPG
/Image_Segmentation/test01.JPG
/Testing/Pandas.py
/Testing/wavelete RGB.py
/Testing/WaveleteDB.py
/Testing/Entropy.py
/Testing/skew_Kurtosis.py
/Testing/skew_Kurtosis.py
/Testing/Wheat_1.jpg
/Testing/Dataframe.py
/Feature_Extraction/Feature 02.csv
/Testing/LBP.py
/Testing/LPB_Python.py
/Testing/GLCM.py
/Testing/GLRM.py
/Testing/gabrlot.py
/Testing/WLD.py
/Testing/Morphological Feature.py
/Testing/Basics.py
/Testing/ResNet.py
/Testing/Keras_ResNet18.py
/Testing/VGG16.py
/Testing/test.py
/Image_Segmentation/imane.jpeg
/Testing/PreProcessing.py
/Testing/Image resize.py
/Image_Segmentation/black.jpeg
/Image_Segmentation/White_image.jpeg
/Testing/Fine tuning.py
/Testing/SVM.py
/Testing/Evaluating.py
/Testing/Confusion Matrix.py
/Testing/Dataspliting.py
/Testing/Augmentation.py
/Testing/Break.py
/UI/test.py
/UI/CNCC/CNCC.ui
/Feature_Extraction/Features.csv
/Feature_Extraction/Features Final.csv
/Feature_Extraction/Image_Resize.py
/Testing/Save Weights.py
/Testing/Yolo.py
/Testing/Learning Rate Schudel.py
