/Image_Segmentation/Scanner02.JPG
/Image_Segmentation/test01.JPG
/Testing/Pandas.py
/Testing/wavelete RGB.py
/Testing/WaveleteDB.py
/Testing/Entropy.py
/Testing/skew_Kurtosis.py
/Testing/skew_Kurtosis.py
/Testing/Wheat_1.jpg
/Testing/Dataframe.py
/Feature_Extraction/Feature 02.csv
/Testing/LBP.py
/Testing/LPB_Python.py
/Testing/GLCM.py
/Testing/GLRM.py
/Testing/gabrlot.py
/Testing/WLD.py
